@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

:root {
    --text-color1: white;
    --border-color: white;
    --text-color2: yellow;
    --font-color: #d62b07;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}