.header__title {
    font-family: "Permanent Marker", cursive;
    color: var(--text-color1);
}

.header__paragraph,
.header__buttons-book {
    font-family: "Titillium Web", sans-serif;
    color: var(--text-color1)
}

.header__background {
    background-image: url(../safari.project/img/istockphoto-983236530-170667a.jpg);
    background-position: center;
    width: 1200px;
}

.header__nav-list {
    color: var(--text-color1)
}

.header__top-logo {
    width: 16px;
    height: auto;
}