.header__title {
    font-family: "Permanent Marker", cursive;
    font-size: 56px;
    font-weight: bold;
    color: var(--text-color1);
    padding: 32px;
    text-align: left;
    vertical-align: baseline;
}

.header__paragraph {
    font-family: "Titillium Web", sans-serif;
    font-size: 19px;
    color: var(--text-color1);
    text-shadow: var(--border-color);
    padding: 32px;
    text-align: left;
    vertical-align: baseline;
}

.header__background {
    background-image: url(../safari.project/img/istockphoto-983236530-170667a.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.header .nav__link,
.header__top-icons-link {
    color: var(--text-color1);
    text-decoration: none;
    padding: 10px;
}

.header .nav__link:hover,
.header__top-icons-link:hover {
    text-decoration: underline;
    color: var(--text-color2);
}

.header__top-logo {
    width: 176px;
    height: 40px;
    max-width: 100%;
    border-image-slice: 100%;
    display: block;
    font-size: 16px;
}

.header__content {
    justify-content: space-around;
    align-items: center;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    white-space: nowrap;
    margin: 32px, 0, 96px;
}

.header__nav-list {
    display: flex;
    list-style-type: none;
}

.header__buttons-book {
    display: flex;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    gap: 8px;
    background-color: var(--text-color2);
    text-decoration: none;
    text-align: center;
    font-size: 15.4px;
    line-height: 18.48px;
    color: var(--text-color1);
    padding: 32px;
    margin-right: 10px;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.header__wrapper {
    padding-left: 32px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
